src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="database-connectors-practice-api-config" api="database-connectors-practice-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="database-connectors-practice-api-main-flow">
        <http:listener config-ref="HTTP_Listener_config" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <logger level="INFO" doc:name="Flow Entry" doc:id="84122056-567c-47fc-a0b0-cd5a201714ac" message="database-connectors-practice-api-main-flow started"/>
		<apikit:router config-ref="database-connectors-practice-api-config" />
        <logger level="INFO" doc:name="Flow Exit" doc:id="2875247d-f1ca-4a38-a421-c89406a27598" message="database-connectors-practice-api-main-flow ended"/>
		<error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\select:database-connectors-practice-api-config" doc:id="5653cebb-e53a-4a46-95db-29b00a04478d">
        <logger level="INFO" doc:name="FLow Entry" doc:id="2f4bd7b2-83be-43ac-b132-6f79e45075cd" message="get:\select:database-connectors-practice-api-config started" />
        <flow-ref doc:name="Flow Reference to fetch-data-from-database-query-flow" doc:id="102fdba5-eb0a-4ba6-b26e-7e59fbea2bb9" name="fetch-data-from-database-query-flow" />
        <logger level="INFO" doc:name="FLow Exit" doc:id="d97abece-6042-49e8-a97d-bc46c518d7ff" message="get:\select:database-connectors-practice-api-config completed" />
    </flow>
    <flow name="get:\select\(customerID):database-connectors-practice-api-config">
        <logger level="INFO" doc:name="FLow Entry" doc:id="457cbea6-7407-4d63-9e82-6463d81e463c" message="get:\select\(customerID):database-connectors-practice-api-config started" />
        <set-variable value="#[attributes.uriParams.'customerID']" doc:name="customerID" doc:id="311d07e5-7023-4c4f-a806-ea47859049f0" variableName="customerID" />
        <flow-ref doc:name="Flow Reference to fetch-data-from-database-query-flow" doc:id="fec7b80e-97ab-4d29-9a04-6e7ada573b77" name="fetch-data-from-database-based-on-unique-id-query-flow" />
        <logger level="INFO" doc:name="FLow Exit" doc:id="13f88ab0-d5c4-4c62-af36-6a8daf9bb6e3" message="get:\select\(customerID):database-connectors-practice-api-config completed" />
    </flow>
    <flow name="post:\new:application\json:database-connectors-practice-api-config">
        <logger level="INFO" doc:name="FLow Entry" doc:id="76becd63-c4d2-47c4-a2d3-750dc37d9e1e" message="post:\new:application\json:database-connectors-practice-api-config started" />
        <flow-ref doc:name="Flow Reference to insert-new-record-query-flow" doc:id="10c833da-b5f6-4034-8074-1138f5a6cd27" name="insert-new-record-query-flow" />
        <logger level="INFO" doc:name="FLow Exit" doc:id="e73eae1e-eaed-4a03-9d57-77a87b22d330" message="post:\new:application\json:database-connectors-practice-api-config completed" />
    </flow>
</mule>
